/*place global styles here */

@font-face {
	/* Reference name */
	font-family: 'Aurabesh';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/AURABESH.ttf');
}

html,
body {
	@apply h-full overflow-hidden;
}
